.category-container {
	margin: 50px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.browseHeader {
	font-family: "Arial";
	padding: 0 100px;
}


.container{
	position: relative;
	width: 200px;
	height: 200px;
	margin: 20px 40px;
}


.container p{
	position: absolute;
	text-align: center;
	font-family: "Arial";
	width: 100%;
	top: 95%;
}

.container img{
	border-radius: 20px;
}


.hero-container {
	margin: 155px 100px 40px 100px;
	position: relative;
	font-family: "Arial";
	
}

.hero-container img {
	width: 100%;
	border-radius: 20px;
}

.hero-container div{
	position: absolute;
	top: 25%;
	left: 70%;
	
}

.hero-container h2{
	font-size: 35px;
}

.hero-container button{
	border: solid white;
	height: 40px;
	width: 100px;
	border-radius: 20px;
	background-color: white;
}

.about-container {
	background-color: #fdd301;
	height: 300px;
	margin: 120px 0px;
	font-family: "Arial";
	display: flex;
	justify-content: center;
	padding: 50px;
	border-radius: 20px;
}

.aboutInfo{
	display: flex;
	flex-direction: column;
	width: 30%;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 200px;
}

.about-container button{
	border: solid white;
	height: 40px;
	width: 100px;
	border-radius: 20px;
	margin: 20px 20px;
	color: #fdd301;
	background-color: white;
}

.about-container h2{
	color: #fff;
}