.productdetail-container{
	margin-top: 150px;
	padding: 0px 100px;
	
}

.productdetail-container form{
	display: flex;
	flex-direction: column;
	
}

.product-container{
	display: flex;
	flex-direction: column;
}

.reviews{
	padding: 0px 100px;
}