
.profile-container{
	
	font-family: "Arial";	
	border: solid  #c1c1c1 1px;
	margin: 150px 400px 0px 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}

.profile-container form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-container input{
	padding: 5px 0px 5px 30px;
	margin: 10px;
	width: 75%;
	height: 30px;
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: #AAA8A8;
	font-family: 'Arial';
	font-size: 15px;
}

.edit-container p{
	display: flex;
	justify-content: center;
}

.infoContainer{
	display: flex;
	flex-direction: column;
	width: 300px;
	border-radius: 20px;
	padding: 10px;
	border: solid #f0f1f1 1px;
	height: 100px;
}

.info{
	width: 100%;
	display: flex;
	align-items: center;
}

button#edit, button#cancel{
	margin-bottom: 30px;
	
}

.info i{
	padding-left: 10px;
}

.colored{
	background-color: #f0f1f1;
}

p#errorMessage{
	color: red;
}

.hidden{
	display: none;
	visibility: hidden;
}

#saveChanges{
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
