@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
nav, .nav-list{
	display: flex;
}

nav{
	display: flex;
	justify-content: space-between;
	font-family: 'Arial';
	align-items: baseline;
	padding: 0px 100px;

}

.hello{
	display: flex;
	flex-direction: column;
}

form{
	width: 40%;
	height: 75%;
	display: flex;
	justify-content: center;
	position: relative;
}
nav input{
	border-radius: 7px;
	background-color: #D9D9D9;
	border-style: none;
	width: 85%;
	height: 28px;
	padding: 10px 0px 10px 40px;
	font-size: 15px;
}

nav button{
	font-size: 15px;
	border: transparent;
	border-radius: 30px;
	padding: 15px;
	
}

.nav-list{
	height: 75%;
	font-size: 15px;
	display: flex;
	width: 500px;
	min-width: 400px;
	justify-content: space-between;
	list-style-type: none;
	padding-left: 0;
	align-items: center;
}

form i{
	position: absolute;
	top: 16px;
	left: 30px;
	
}

nav ul, footer ul{
	list-style:none;

}

.dropdown-content{
	display: none;
	position: absolute;
	
	z-index: 1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {

  padding: 12px 12px;
  font-size: 15px;
  display: block;
  text-align: center;
  
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}



footer{
	font-family: 'Arial';
	padding: 0px 100px;
	font-size: 15px;
}


.footer-container{
	display: flex;
	justify-content: space-between;
}

.copyright{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p{
	margin: 0px;
	font-size: 13px
}

nav a, footer a{
	all: unset;
	
}

.contact-info li {
	padding:10px;
}

nav h1, footer h1{
	font-family: 'Jeju Myeongjo', serif;
	font-size: 45px;
}

